*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 24px;
}

h3 {
  margin-top: 12px;
}

.quad-content-separated {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 240px 1fr 80px 1fr 240px;
  gap: 12px;

  margin-top: 45px;
  text-align: center;
}

.separator {
  height: 105%;
  width: 1px;
  margin-top: 10px;
  border-left: 3px solid black;
}

#rival-board {
  margin-left: -14px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  text-align: center;

  --td-size: 33px;
  height: var(--td-size);
  width: var(--td-size);
  margin: 0;
}

td.hit {
  border: 3px solid red;
}

td.ship {
  border: 3px solid navy;
}

td.miss {
  background-color: #bebebe;
}

td,
td.unhit {
  border: 1px solid black;
}

td.highlight {
  border: 3px solid red;
}

.game-state-display {
  --display-height: 50px;
  text-align: center;
  line-height: var(--display-height);
  height: var(--display-height);
  width: 300px;
  margin-top: 45px;
  border: 2px solid black;
  border-radius: 25px;
}