*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  --body-background-color: #538bab;
  --menu-buttons-color: #f0fdfa;
  --border-color: #678a96;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: var(--body-background-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 45px;
  padding: 35px 24px 40px 24px;
  border-radius: 50px;
  border: 5px solid #678a96;
  background:linear-gradient(#94d4ee, #c4e8f8);
}

h3 {
  margin-top: 12px;
}

.quad-content-separated {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 240px 1fr 80px 1fr 240px;
  gap: 12px;

  margin-top: 45px;
  text-align: center;
}

.separator {
  height: 105%;
  width: 1px;
  margin-top: 10px;
  border-left: 3px solid black;
}

#rival-board {
  margin-left: -14px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  text-align: center;

  --td-size: 33px;
  height: var(--td-size);
  width: var(--td-size);
  margin: 0;
}

td.hit {
  border: 3px solid red;
}

td.ship {
  border: 3px solid navy;
}

td.miss {
  background-color: #bebebe;
}

td,
td.unhit {
  border: 1px solid black;
}

td.highlight {
  border: 3px solid red;
}

.menu {
  --button-width: 250px;
  --display-width: 460px;
  display: grid;
  grid-template-columns: var(--button-width) var(--display-width) var(--button-width);
  gap: 55px;

  margin-top: 45px;
}

.game-state-display {
  --display-height: 50px;

  flex: 1;
  text-align: center;
  line-height: var(--display-height);
  font-weight: bold;
  font-size: 1.1rem;
  height: var(--display-height);
  width: var(--display-width);
  background-color: var(--menu-buttons-color);
  border: 2px solid var(--border-color);
  border-radius: 25px;
}

button {
  background-color: var(--menu-buttons-color);
  border: 2px solid var(--border-color);
  border-radius: 25px;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 32px;
  background-color: #678a96;
}