*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing-area {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 80px 1fr;

  margin-top: 24px;
}

.separator {
  height: 105%;
  width: 1px;
  margin-top: 10px;
  border-left: 3px solid black;
}

#rival-board {
  margin-left: -17px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  text-align: center;

  --td-size: 33px;
  height: var(--td-size);
  width: var(--td-size);
  margin: 0;
}

td {
  border: 1px solid black;
}